/* 
	styles on the contacts
*/

.contact-form-label {
	width: 170px;
	text-align: right;
	padding: 5px;
}

.contact-header {
	margin-top: 1em;
	text-align: center;
}

#contacts-panel {
	text-align: left;
}

#contacts-list div[class^=col-] {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

#contacts-panel [class^=col-] {
	padding: 10px 0 10px 0;
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}

.delete-contact:hover {
	color: Red;
}