/* 
	styles on the contacts
*/

.contact-form-label {
	width: 170px;
	text-align: right;
	padding: 5px;
}

.contact-header {
	margin-top: 1em;
	text-align: center;
}

#contacts-search-panel {
	display: inline-block;
	float: right;
}

#contact-filter {
	margin-top: 0;
}

#contacts-panel {
	height: 700px;
	overflow-y: scroll;
	padding: 0 16px 0 16px;
}

#contacts-list div[class^=col-] {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
#contacts-list .row:hover {
	background-color: White;
}

#contacts-panel [class^=col-] {
	padding: 10px 0 10px 0;
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}

.delete-contact {
	padding: 0 10px;
}
.delete-contact:hover {
	color: Red;
}

.bind-user{
	padding: 0 10px;
}
.bind-user:hover {
	color: #0000ff;
}

.user-info.active-user{
	font-weight: bold;
}
.user-info.active-user:hover {
	color: #0000cc;
}