/* 
	styles on the contacts
*/

.contact-form-label {
	width: 170px;
	text-align: right;
	padding: 5px;
}

.contact-header {
	background-color: Green;
	height: 2em;
}

#contacts-panel {
	text-align: center;
}

#contacts-panel .row {
	height: 2em;
}