/* 
	styles on main screen
*/

body {
	background-color: #eee;
}

.todo {
	display: none;
}

#app-contacts, #app {
	background-color: #fff;
}

#app .nav > li > a {
	padding: 5px 9px;
}

.off {
	display: none;
}

.form-user {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

.form-user {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

.form-user button{
	margin-top: 5px;
}

#signup-form input{
	margin: 1px 0 8px 0;
}

#reset-password-account{
	width: 120px;
	text-align: center;
}

.head-operations {
	height: 60px;
	padding-top: 10px;
}

.advance-operations {
	height: 10px;
}

.main-screen {
	min-height: 500px;
}

#search-contacts-text {
	width: 150px;
}

#search-text {
	width: 300px;
}

#account-panel {
	float: right;
	padding-right: 0;
	text-align: right;
}

#p-c-add {
	display: none;
}

#message-sm {
	top: 1em;
	left: 50%;
	overflow: hidden;
	position: fixed;
	opacity: 0.8;
	z-index: 1050;
	background-color: YELLOW;
	transform: translate(-50%, -50%);
	padding: 0.5em 1em;
}

#profile-face-thumb {
    background-color: white;
    width: 160px;
    height: 160px;
}

.float-status {
    position: absolute;
    top: 125px;
    height: 35px;
    width: 160px;
}

#upload-face-img {
    height: 35px;
    width: 160px;
    cursor: pointer;
}

#upload-face-img *{
    cursor: pointer;
}

#upload-face-img input {
    opacity: 0;
    width: 160px;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#upload-face-img .glyphicon-upload {
    font-size: 22px;
    padding: 5px;
    opacity: 0.5;
}

.float-buttom {
    font-size: 15px;
    position: relative;
    top: -32px;
    height: 35px;
    width: 160px;
    background: black;
    opacity: 0.0;
    color: white;
    padding: 6px 0 0 34px;
}

.list-users-right {
    float:right;
}

#account-name {
    max-width: 100px;
    word-wrap: break-word;
    display: block;
}
}