/* 
	styles on main screen
*/

body {
	background-color: #eee;
}

.todo {
	display: none;
}

#app {
	background-color: #fff;
}

.form-signin {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

#signin-error-panel{
	display: none;
}

.head-operations {
	height: 70px;
}

.advance-operations {
	height: 30px;
}

.main-screen {
	min-height: 500px;
}

#search-text {
	width: 300px;
}

#contacts-panel{
	min-height: 500px;
}

#account-panel {
	float: right;
}